@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik&display=swap');

$fontR:"Rubik", serif;
$fontM:"Montserrat", serif;
$fw:400;
$margin0:0;
$padding0:0;
$header_text_color:#353433;
$header_fz:32px;
$search__margin:32px;
* {
    font-family: $fontR;
    font-weight: $fw;
    margin: $margin0;
    padding: $padding0;
}
.header__banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: linear-gradient(to right, #EA762C, #FFCB00);
}
.header__bunner__text {
  color: $header_text_color;
  font-size: $header_fz;
}
.header__bunner__text strong {
  font-size: 40px;
}
.header__bunner__text span {
  font-family: $fontM;
  border-bottom: 1px solid $header_text_color;
}
.header__bar {
  max-width: 1844px;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  margin: auto;
  margin-top: 8px;
  padding-bottom: 22px;
  border-bottom: 1px solid rgba(0,0,0,0.05);
}
.header__bar img {
  grid-column: span 2 / span 2;
}
.header__bar__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-column: span 10 / span 10;
  gap: 24px;
}
.header__bar__content__contacts {
  display: flex;
  justify-content: space-between;
}
.header__bar__content__contacts__phones {
  display: flex;
  align-items: center;
  background: #F3F3F3;
  gap: 40px;
  position: relative;
  border-radius: 10px;
  padding: 8.5px 20px;
}
.header__bar__content__contacts__phones__item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.header__bar__content__contacts__phones__item span {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}
.header__bar__content__contacts__phones__item:nth-child(1):after {
  position: absolute;
  content: '';
  border: 1px solid #E8E8E8;
  height: 56px;
  top: 0;
  right: 170px;
}
.header__bar__content__contacts__phones__item__numbers {
  display: flex;
  flex-direction: row;
  gap: 16px;
  color: $header_text_color;
  font-size: 16px;
}
.header__bar__content__contacts__right {
  display: flex;
  align-items: center;
  gap: 32px;
}
.socials {
  display: flex;
  gap: 8px;
  align-items: center;
}
.buttons {
  display: flex;
    gap: 14px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: $header_text_color;
}
.buttons button {
  padding: 17px 30px;
  background-color: #FFCB00;
  border-radius: 10px;
  border: 2px solid transparent;
}
.buttons button:hover {
  transition: .3s linear;
  background-color: transparent;
  border: 2px solid #FFCB00;
}
.nav__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}
.nav__menu li a {
  color: $header_text_color;
  text-decoration: none;
}
.nav__menu li a:hover {
  transition: .3s linear;
  color: #EA762C;
}