@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik&display=swap');

$fontR:"Rubik", serif;
$fontM:"Montserrat", serif;
$fw:400;
$margin0:0;
$padding0:0;
$header_text_color:#353433;
$header_fz:32px;
$search__margin:32px;
$maxW: 1844px;
* {
    font-family: $fontR;
    font-weight: $fw;
    margin: $margin0;
    padding: $padding0;
}
.header__banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: linear-gradient(to right, #EA762C, #FFCB00);
}
.header__bunner__text {
  color: $header_text_color;
  font-size: $header_fz;
}
.header__bunner__text strong {
  font-size: 40px;
}
.header__bunner__text span {
  font-family: $fontM;
  border-bottom: 1px solid $header_text_color;
}
.header__bar {
  max-width: $maxW;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  margin: auto;
  margin-top: 8px;
  padding-bottom: 22px;
  border-bottom: 1px solid rgba(0,0,0,0.05);
}
.header__bar img {
  grid-column: span 2 / span 2;
}
.header__bar__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-column: span 10 / span 10;
  gap: 24px;
}
.header__bar__content__contacts {
  display: flex;
  justify-content: space-between;
}
.header__bar__content__contacts__phones {
  display: flex;
  align-items: center;
  background: #F3F3F3;
  gap: 40px;
  position: relative;
  border-radius: 10px;
  padding: 9px 20px;
}
.header__bar__content__contacts__phones__item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.header__bar__content__contacts__phones__item span {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}
.header__bar__content__contacts__phones__item:nth-child(1):after {
  position: absolute;
  content: '';
  border: 1px solid #E8E8E8;
  height: 56px;
  top: 0;
  right: 170px;
}
.header__bar__content__contacts__phones__item__numbers {
  display: flex;
  flex-direction: row;
  gap: 16px;
  color: $header_text_color;
  font-size: 16px;
}
.header__bar__content__contacts__right {
  display: flex;
  align-items: center;
  gap: 32px;
}
.socials {
  display: flex;
  gap: 8px;
  align-items: center;
}
.buttons {
  display: flex;
    gap: 14px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: $header_text_color;
}
.buttons button {
  padding: 17px 30px;
  background-color: #FFCB00;
  border-radius: 10px;
  border: 2px solid transparent;
  cursor: pointer;
}
#login {
  background: transparent;
  border: 2px solid #FFCB00;
}
.nav__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}
.nav__menu li a {
  color: $header_text_color;
  text-decoration: none;
  font-size: 18px;
}
.nav__menu li a:hover {
  transition: .3s linear;
  color: #EA762C;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown__content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  z-index: 1;
  border-radius: 10px;
  & li {
    padding: 8px;
    text-decoration: none;
    display: block;
  }
}
.dropdown:hover .dropdown__content {
  display: block;
}
main {
  max-width: $maxW;
  margin: auto;
}
main h3 {
  margin-top: 50px;
  font-size: 72px;
  font-weight: 600;
  color: $header_text_color;
}
.years {
  margin-top: 50px;
  max-width: 938px;
  width: 100%;
  padding: 4px;
  display: flex;
  flex-direction: row;
  border: 2px solid #F3F3F3;
  justify-content: space-around;
  border-radius: 10px;
  list-style: none;
}
.years li {
  padding: 10px 20px;
  font-size: 24px;
  color: #818181;
  border-radius: 10px;
  cursor: pointer;
}
.years li:hover {
  transition: .3s linear;
  background-color: #FFCB00;
  color: $header_text_color;
}
.news {
  margin-top: 30px;
}
.see__more {
  margin-top: 60px;
  font-size: 20px;
  color:$header_text_color;
  border-radius: 10px;
  border: 2px solid #FFCB00;
  padding-top: 17px;
  padding-bottom: 17px;
  text-align: center;
  cursor: pointer;
}
.see__more:hover {
  transition: .3s linear;
  background-color: #FFCB00;
}
.news__container {
  display: grid;
  grid-template-columns: repeat(3,auto);
  grid-row-gap: 50px;
  grid-column-gap: 14px;
  
}
.news__container__article {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 494px;
  max-width: 604px;
  width: 100%;
  background-color: #F3F3F3;
  border-radius: 20px;
  & img {
    background-color: #EA762C;
    border-radius: 20px 20px 0 0;
    height: 240px;
  }
}
.__text {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  height: 100%;
}
.__date {
  color: $header_text_color;
  font-family: $fontM;
  font-size: 15px;
  line-height: 140%;
  margin-top: auto;
  margin-bottom: 30px;
  padding-left: 20px;
}
footer {
  max-width: $maxW;
  margin: auto;
  border-top: 1px solid #eaeaea;
  margin-top: 170px;
}
.top__footer_container {
  padding: 30px 0 50px;
  border-top: 5px solid #EAEAEA;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.top__footer__up {
  padding: 30px 0 50px;
    border-top: 5px solid #EAEAEA;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.footer__navbar {
    display: grid;
    grid-template-columns: repeat(14, minmax(0, 1fr));
    gap: 14px;
    padding-bottom: 25px;
    &__item {
      grid-column: span 2 / span 2;
      display: flex;
      flex-direction: column;
      gap: 20px;
      & p {
        font-size: 24px;
        line-height: 28px;
        color: $header_text_color;
      }
      & ul {
        display: flex;
        flex-direction: column;
        gap: 15px;
        list-style: none;
        & li {
          color: $header_text_color;
          font-size: 15px;
        }
      }
    }
    #last_item {
      grid-column: span 4 / span 3;
    }
    &__social {
      grid-column: span 3 / span 3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        & ul {
          display: flex;
          flex-direction: column;
          gap: 20px;
          list-style: none;
          & li {
            font-size: 24px;
            color: $header_text_color;
          }
        }
    }
    .__icons {
      margin-top: 111px;
      display: flex;
      flex-direction: row;
    }
   #latest {
      margin-left: 8px;
    }
    &__getcall {
      display: flex;
      flex-direction: column;
      gap: 27px;
      grid-column: span 2 / span 2;
      max-width: 334px;
      width: 100%;
      padding: 21px 27px 28px;
      background: radial-gradient(48% 95% at 3% 5%, rgba(252, 196, 7, 0.2) 0%, rgba(255, 255, 255, 0) 100%), #FAF6ED;
      border-radius: 20px;
      & img {
        height: 65px;
        width: 78px;
      }
      .__content {
        font-size: 20px;
        color: $header_text_color;
      }
      .__btn {
        margin-top: 18px;
        & button {
          padding: 17px 30px;
          border-radius: 10px;
          border: 2px solid #FFCB00;
          background: transparent;
          cursor: pointer;
        }
        & button:hover {
          transition: .3s linear;
          background-color: #ffcc0052;
        }
      }
    }
}
.footer__subscribe {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1262px;
  width: 100%;
  border-radius: 10px;
  background: #F3F3F3;
  & img {
    padding: 16px 25px 16px 41px;
  }
  .subscribe__container__title {
    color: $header_text_color;
    font-size: 20px;
  }
  & form {
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    padding: 20px 20px 20px 20px;
    gap: 9px;
    & input {
      width: 315px;
      border-radius: 12px;
      border: 1px solid #D9D9D9;
      background: #F9F9F9;
      padding: 16px 20px;
      margin-left:30px;
    }
    & button{
      padding: 15px 60px;
      background: transparent;
      cursor: pointer;
      border: 2px solid #E0E0E0;
      border-radius: 10px;
      color: #818181;
    }
  }
}
.top__footer__down {
  display: grid;
  grid-template-columns: repeat(10, minmax(0, 1fr));
  gap: 14px;
  margin: 40px 0;
  align-items: center;
  & img {
    grid-column: span 2 / span 2;
  }
  &__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    grid-column: span 2 / span 2;
    margin-top: 15px;
    color: $header_text_color;
  }
  .email {
    font-size: 20px;
    color: $header_text_color;
  }
  .__location {
    display: flex;
    gap: 20px;
    flex-direction: column;
    & span {
      font-size: 20px;
      color: $header_text_color;
    }
    .__tel {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }
}
#gel {
  max-width: 217px;
  width: 100%;
  max-height: 122px;
  height: 100%;
}
#onec {
  max-width: 122px;
  max-height: 73px;
  height: 100%;
  width: 100%;
}
.bottom__footer {
  background-color: #F3F3F3;
  &__container {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(10, minmax(0, 1fr));
    &__date {
      font-family: $fontM;
      margin-left: 40px;
      font-size: 14px;
      color: $header_text_color;
      grid-column: span 2 / span 2;
    }
    &__conf {
      font-family: $fontM;
      font-size: 15px;
      line-height: 21px;
      color: $header_text_color;
      grid-column: span 4 / span 4;
    }
    &__dev {
      align-items: center;
      display: flex;
      font-size: 15px;
      line-height: 21px;
      color: $header_text_color;
      font-family: $fontM;
      grid-column: span 4 / span 4;
      & img {
        margin-left: 10px;
      }
    }
  }
}
#mob768__pattern {
  display: none;
}
.header__bar__mobile {
  display: none;
}
.back__mobile {
  display: none;
}
.top__footer__mobile {
  display: none;
}
.modal__mobile__357  {
  display: none;
}
.kostyl {
  display: none;
}
@media (max-width: 768px) {

  #main__pattern {
    visibility: hidden;
    display: none;
  }
  #mob768__pattern {
    display: block;
  }
  .header__bunner__text {
    font-size: 18px;
    & strong {
      font-size: 20px;
    }
  }
  .burger {
    position: relative;
    display: inline-block;
  }
  .burger__menu {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    z-index: 1;
    border-radius: 10px;
    & li {
      padding: 8px;
      text-decoration: none;
      display: block;
    }
  }
  .burger:hover .burger__menu {
    display: block;
  }
  main {
    max-width: 768px;
    width: 100%;
    overflow: hidden;
  }
  .header__bar img {
    width: 125px;
    height: 70px;
    margin-left: 20px;
  }
  .header__bar__content {
    visibility: hidden;
    display: none;
  }
  .header__bar__mobile {
    display: block;
    display: flex;
    align-items: center;
    margin-left: 435px;
    & img{
      height: 28px;
      width: 28px;
    }
  }
  #profile {
    margin-left: 20px;
  }
  #menu {
    margin-left: 44px;
  }
  .back__mobile {
    display: block;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #353433;
    margin-left: 20px;
    margin-top: 40px;
  }
  main h3 {
    size: 60px;
    margin-top: 0;
    margin-left: 20px;
  }
  .years {
    margin-top: 30px;
    margin-left: 20px;
    & li {
      font-size: 20px;
    }
  }
  .news__container {
    justify-content: center;
    grid-template-columns: repeat(2, 354px);
    grid-row-gap: 30px;
    grid-column-gap: 14px;
  }
  .news__container__article {
    max-width: 360px;
    height: 340px;
  }
  .__text {
    font-size: 16px;
  }
  .__date {
    font-size: 12px;
  }
  .see__more {
    margin: auto;
    margin-top: 30px;
    width: 728px;
    font-size: 16px;
  }
  footer {
    margin-top: 100px;
    border-top: 5px solid #eaeaea;
  }
  .top__footer {
    padding: 0 20px;
  }
  .top__footer__up {
    display: none;
  }
  .top__footer__mobile {
    display: block;
  }
  .top__footer__mobile__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 24px;
  }
  .top__footer__modile__socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .top__footer__modile__modal {
    display: flex;
    padding: 17px 20px;
    background: radial-gradient(48% 215% at 2% 35%, rgba(252, 196, 7, 0.2) 0%, rgba(255, 255, 255, 0) 100%), #FAF6ED;
    border-radius: 20px;
    justify-content: space-around;
    align-items: center;
    & p {
      margin-left: 23px;
      font-size: 16px;
      line-height: 19px;
    }
  }
  .top__footer__modile__modal img {
    width: 65px;
    height: 55px;
  }
  .mobile__call {
    display: flex;
    align-items: center;
    & button {
      background: transparent;
      width: 340px;
      padding: 17px;
      font-size: 16px;
      line-height: 19px;
      border: 2px solid #FFCB00;
      border-radius: 10px;
    }
    & button:hover {
      transition: .3s linear;
      background-color: #FFCB00;
    }
  }
  .top__footer__modile__menu {
    & ul {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      list-style: none;
      #v {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
  .mob__li {
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #EAEAEA;
    font-size: 20px;
    color: $header_text_color;
  }
  .top__footer__mobile__sub {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    background-color: #F3F3F3;
    border-radius: 10px;
    & img {
      padding: 21px 21px 21px 21px;
    }
    .sub__ttl {
      font-size: 20px;
      line-height: 26px;
      width: 55%;
    }
  }
  .sub__form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-left: 100px;
    padding: 0 0 17px 0;
    width: 600px;
    & input {
      width: 308px;
      padding: 16px 20px;
      border-radius: 10px;
      border: 1px solid #D9D9D9;
    }
    & button {
      width: 286px;
      margin-left: 4px;
      padding: 15px 92px;
      border-radius: 10px;
      border: 1px solid #D9D9D9;
      color: #818181;
      cursor: pointer;
    }
  }
  .top__footer__down {
    align-items: start;
    grid-template-columns: repeat(8,minmax(0,1fr));
  }
  #gel {
    width: 125px;
    height: 70px;
  }
  #onec {
    width: 59px;
    height: 35px;
    margin-top: 40px;
  }
  #msk {
    margin-top: 45px;
  }
  .top__footer__down__info {
    font-size: 14px;
  }
  .top__footer__down .__location {
    gap: 10px;
  }
  .bottom__footer__container {
    padding: 0;
    margin: 0;
    gap: 0;
    padding: 13px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__date {
      display: none;
    }
    .kostyl {
      font-family: $fontM;
      font-weight: 400;
      display: block;
      font-size: 12px;
      color: #353433;
    }
    &__conf {
      font-size: 12px;
    }
    &__dev {
      font-size: 12px;
      & img {
        width: 91px;
        height: 13px;
      }
    }
  }
  .modal__mobile__357  {
    display: none;
  }
}
@media screen and (max-width: 375px) {
  .header__banner {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header__bunner__text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__bar {
    padding-bottom: 4px;
  }
  #mob768__pattern {
    display: none;
  }
  .header__bunner__text {
    padding: 16px;
    text-align: center;
  }
  .header__bar__mobile {
    margin: 0;
    margin-left: 120px;
    & img {
      width: 28px;
    }
    #profile {
      margin-left: 20px;
    }
    #menu {
      margin-left: 24px;
    }
  }
  main {
    width: 357px;
    overflow: hidden;
    & h3 {
      font-size: 38px;
    }
  }
  .years {
    margin-left: 10px;
  }
  .back__mobile {
    font-size: 14px;
  }
  .news__container {
    margin: 0;
    gap: 20px;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
  }
  .news__container__article {
    width: 335px;
    & img {
      width: 335px;
    }
  }
  .__text {
    font-size: 14px;
  }
  .__date {
    font-size: 12px;
  }
  .see__more {
    margin: auto;
    margin-top: 30px;
    width: 317px;
    font-size: 16px;
  }
  footer {
    border: none;
  }
  .top__footer__container {
    border-top: 2px solid #EAEAEA;
  }
  .top__footer__mobile__sub {
    display: none;
  }
  .top__footer__modile__socials {
    justify-content: left;
    & img {
      padding: 0 4px;
    }
  }
  .top__footer__modile__modal {
    display: none;
  }
  .top__footer__modile__menu ul li {
    font-size: 18px;
  }
  .li__contact {
    padding-top: 10px;
    font-size: 18px;
    color: $header_text_color;
  }
  .top__footer__down {
    border-top: 2px solid #EAEAEA;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    padding-top: 10px;
    &__info {
      margin: 0;
      grid-column: span 4 / span 4;
    }
  }
  .top__footer__down .email {
    font-size: 16px;
    color: #353433;
  }
  #msk {
    margin-top: 0px;
}
  .top__footer__down .__location span {
    font-size: 16px;
    color: #353433;
  }
  .top__footer__down .__location .__tel div {
    font-size: 14px;
    color: #353433;
  }
  .top__footer__down .__location .__addr {
    font-size: 14px;
    color: #353433;
  }
  .top__footer__down .__location .__tel {
    font-size: 14px;
    color: #353433;
  }
  .bottom__footer__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    &__date {
      line-height: 17px;
      margin: 0;
    }
  }
  .modal__mobile__357 {
    display: block;
    padding: 0;
    width: 315px;
    padding: 28px 17px;
    border-radius: 20px;
    background: radial-gradient(48% 215% at 2% 35%, rgba(252, 196, 7, 0.2) 0%, rgba(255, 255, 255, 0) 100%), #FAF6ED;
    &__upper {
      display: flex;
      & p {
        margin-left: 8px;
        font-size: 16px;
        line-height: 19px;
        color: #353433;
      }
      & img {
        width: 46px;
        height: 40px;
      }
    }
    &__lower {
      margin-top: 18px;
      padding: 15px 84px;
      border: 2px solid #FFCB00;
      border-radius: 10px;
    }
  }
}