doctype html
html(lang= 'ru')
  head
    meta(charset='utf-8')
    title= 'Гелиос'
  body
    header 
        .header__banner 
            img(src=require('./images/pattern.svg'), alt="pattern")
            .header__bunner__text
                

    main 

    footer 
